name: Automated README Generation

on:
  push:
  schedule:
    - cron: "0 */1 * * *"

jobs:
  markscribe:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout personal repository
        uses: actions/checkout@v2

      - name: Import GPG signing information
        uses: crazy-max/ghaction-import-gpg@v3
        id: import_gpg
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git-user-signingkey: true
          git-commit-gpgsign: true

      - name: Generate new README
        uses: muesli/readme-scribe@master
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          template: "templates/README.md.tpl"
          writeTo: "README.md"

      - name: Commit new generated README
        uses: stefanzweifel/git-auto-commit-action@v4
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        with:
          branch: master
          commit_message: Update generated README
          commit_options: '--gpg-sign'
          commit_user_name: ${{ steps.import_gpg.outputs.name }}
          commit_user_email: ${{ steps.import_gpg.outputs.email }}
          commit_author: ${{ steps.import_gpg.outputs.name }} <${{ steps.import_gpg.outputs.email }}>
